<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav">
  <a href="/">Home</a>
    <a href="/login">Login</a></div>
</div>


<form action="/create"method="POST">
    Username <input type="text" name="username"><br>
    Password <input type="password" name="password"><br>
    Name <input type="text", name="name"><br>
    Age <input type="int", name="age"><br>

  <input type="submit" value="Create Account">
</form>

</body>
</html>