<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav">
    <a href="/">Home</a>
    <a href="/view_all">view</a>
    <a href="/update">Update Password</a>
    <a href="/logout">Logout</a>
</div>




<form action="/update" method="POST">
  Old Password <input type="password" name="password"><br>
  New password<input type="password" name="newpassword"><br>
  <input type="submit" value="UPDATE">
</form>



</body>
</html>